<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

<bean name="ConfigLoader" id="ConfigLoader" class="edu.rdragunov.olxParser.config.ConfigLoader" scope="singleton">
       <constructor-arg type="java.lang.String" value="resources/config.properties"/>
</bean>


       <!-- Определяем папки, в которых будем автоматически искать бины-компоненты (@Component, @Service)  -->
       <context:component-scan base-package="edu.rdragunov.olxParser.data.dao"/>
       <context:component-scan base-package="edu.rdragunov.olxParser.data.services"/>

       <!-- Файл с настройками ресурсов для работы с данными (Data Access Resources) -->
       <import resource="hibernate-config.xml" />


</beans>